.block{
  margin-left: 655px;
}
.topic{
  margin-left: 15px;
}
.photu{
  border-radius: 100%;
  height: 30px;
  width: 30px;
 margin-left:45px;
}
.rang{
  background-color: #355c7d;
}
.xyz .find button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border-radius: 25%;
  cursor: pointer;
}
.middlepart{
  background-color: #f67280;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  height:550px;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;

}
.heading{
  font-family: 'Montserrat-black', sans-serif;
 font-size: 80px;
 padding-top: 100px;
 padding-left: 30px;
}
.para{
  font-size: 30px;
  line-height: 0.5;

}
.btn-outline-light{

  line-height: 2;
  margin-top: 70px ;
  margin-right: 10px;
  margin-left: 10px;
}

.photu1{
  height: 550px;
  width: 750px;
  padding-top: 60px;

}
#goals{
  padding-left: 7% 15%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 60px;
  margin-right: 60PX;
}
.carouselimg{
  width: 50px;
  height: 50px;
  background-color: #f67280;
  border-radius: 100%;
}
.h2{
  font-family: 'montserat-bold' sans-serif;
  font-size: 3rem;

}
#move{
  font-family: 'montserat-bold' sans-serif;
  color: white;
  padding-top: 150px;
  background-color: #f67280;
  height: 450px;
  text-align: center;
}
/* Cards */
#cards{
  text-align: center;
  padding-top: 8%;
  margin-left: 100px;
  margin-bottom: 5%;
}
.card-img-top{
  padding: 45px;
}
.foot{
  background-color:#f67280;
  height: 150px;
  padding-top: 7%;
  padding-left: 200px;
  padding-right: 200px;

}
#footer{
  font-family: montserrat , sans-serif;
  text-align: center;

}
.f1{
  text-decoration: none;
  text-decoration-color: white;
  margin-left: 10px;
  margin-right: 20px;
}

.f11{
  margin-left: 150px;
  margin-right: 20px;
  text-decoration: none;
  text-decoration-color: white;
}
